<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83683978714-u8a9amu8n25oaa67unbct955d44b9dnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83683978714-u8a9amu8n25oaa67unbct955d44b9dnk</string>
	<key>API_KEY</key>
	<string>AIzaSyBF2HGMo_MOlkwhqIG6LLeLvF98qql_MSI</string>
	<key>GCM_SENDER_ID</key>
	<string>83683978714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mecarcustomer.meCarCustomer</string>
	<key>PROJECT_ID</key>
	<string>carservices-868c3</string>
	<key>STORAGE_BUCKET</key>
	<string>carservices-868c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83683978714:ios:29dc9008f3ec72b32564e3</string>
</dict>
</plist>